.container{
    display:grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: repeat(4,100px);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: [row1-start] 20% [row2-end row2-start]25%; */
    grid-template-rows: repeat(3,100px);
    /* grid-template-areas: "header header header header" "main main .sidebar" "footer footer footer footer"; */
    column-gap: 10 px;
    justify-items: center;
    align-items: center;
    /* place-items: center; */
    justify-content: center;
    align-content: center;
    /* grid-template-columns: 60px 60px; */
    /* grid-template-rows: 60px 60px; */
    grid-auto-rows: 60px;
    grid-auto-columns: 60px;
    grid-auto-flow: row;
    /* grid: 100px 300px / 3fr 1fr; */
}

.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
     
}

.item1{
    grid-area: header;
    place-self: center;
    justify-self:center;
    align-self: start;
}

.item2{
    grid-area: main;
    
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
}