@media (max-width: 760){
p{
    font-size: 100px;
}
}

.box{
    width: 100%;
    height: 100px;
    background-color: green;

}
@media(min-width:768px){
    .box{
        background-color: brown;
    }
    li{
        list-style-type: none;
        text-decoration: none;
    }
    nav ul{
        display: flex;
        justify-content: space-around;

    }
}